<h1>Add a new ingredient</h1>

<form action='/ingredients' method='post'>
    <label for='ingredientName'>Item description</label>
    <input id='ingredientName' name='ingredientName' type='text'>
    <button type='submit'>Add ingredient</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/items">View all ingredients</a></p>