<h1>Add a Category</h1>
<p>Add a Category here:</p>

<form action="/categories" method="post">
  <label for="type">Name of category:</label>
  <input id="type" name="type" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/categories">Back to all categories.</a></p>