<h1>Welcome to Recipe City!</h1>
<h3><a href='/recipes'>View all recipes</a></h3>
<h3><a href='/ingredients'>View all ingredients</a></h3>
<h3><a href='/categories'>View all categories</a></h3>
<h3><a href='/recipes/new'>Add a new recipe</a></h3>
<h3><a href='/ingredients/new'>Add a new ingredient</a></h3>
<h3><a href='/categorys/new'>Add a new category</a></h3>